{% extends 'bookmarks/base.html' %}
{% block body %}

{% load static %}
<section id="showcase">
    <div class="container">
        <div class="bg-img">
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="showcase-left">
                    <img src="{% static 'img/book.png' %}" alt="Book is missing.. Opsss!">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="showcase-right">
                     <div class="jumbotron">
                        <h3>MarkPro blah blah blah</h3>
                        <p>Lorem ipsum dolor sit amet, consntur corate dus excepturi modi officia porro quia, quis repudianda</p>
                         <a href="#" class="btn btn-default showcase-btn btn-lg">Find out more</a>
                     </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section id="news">

    {% for news in newsboard %}
        <h1>{{ news.title }}</h1>
        <small>{{ news.timestamp }}</small>
        <p> {{ news.description|slice:":10" }}
        ...
        <br>
        <span>Click here to <a href="/news/{{ news.slug }}">Read More</a> </span>
        <hr>
        </p>
    {% endfor %}
</section>

{% endblock %}